<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>


<f:section name="content">
    <h1>Results</h1><hr />

    <f:flashMessages/>

    <f:for as="result" key="title" each="{results}" iteration="_iter">
		<h4>{_iter.cycle}. Output of <b>{title}()</b></h4>
		<ul style="list-style-type: none">
			<f:for as="value" key="expected" each="{result}" iteration="_iterSub">
				<li>
					{_iter.cycle}.{_iterSub.cycle}.
					assert <b>{expected}</b> and got
					<f:debug inline="1">{value}</f:debug>
				</li>
			</f:for>
		</ul>
		<hr />
	</f:for>

</f:section>
</html>