<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-akt-testing-fun" >
	<tr>
		<td>
			<f:translate key="tx_akttestingfun_domain_model_testingfun.title" />
		</td>
		<td>
		{testingFun.title}
		</td>
	</tr>
</table>
</html>